/abbreviations.xml
/file.template.settings.xml
/notifications.xml
/plugin_ui.xml
/project.default.xml
/stubIndex.xml
/window.manager.xml
/webServers.xml
/web-browsers.xml
/usage.statistics.xml
/ui.lnf.xml
/IntelliLang.xml
